# Logs & system files
*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# Laravel storage & cache
.phpunit.result.cache
/storage/*.key
/storage/pail

# Node / vendor deps
/node_modules
/vendor

# Public compiled assets
/public/build
/public/hot
/public/storage

# IDE folders
/.idea
/.vscode
/.fleet
/.zed

# PHP tools
.phpactor.json

# Others
auth.json
Homestead.json
Homestead.yaml

# Laravel older paths (safe to ignore)
public_html/storage
public_html/hot
/.vagrant
npm-debug.log
yarn-error.log
